<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>URL埋め込みとボタン判別</title>
</head>
<body>
	<div>
		<!-- URL埋め込み -->
		<h3>
			<a th:href="@{/function/1}">機能-1</a>
		</h3>
		<h3>
			<a th:href="@{/function/2}">機能-2</a>
		</h3>
		<h3>
			<a th:href="@{/function/3}">機能-3</a>
		</h3>
		<!-- 同じ form タグの中のボタン -->
		<form th:action="@{/send}" method="post">
			<input type="submit" value="ボタンA" name="a">
			<input type="submit" value="ボタンB" name="b">
			<input type="submit" value="ボタンC" name="c">
		</form>
	</div>
</body>
</html>
