<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>error.html</title>
</head>
<body>
	<h1 th:text="${status} + ' ' + ${error}"></h1>
	<p th:text="${message}"></p>
	<p>初期画面に戻ってください</p>
	<form method="get">
		<button type="submit" th:formaction="@{/}">初期画面に戻る</button>
	</form>
</body>
</html>
<!--
${status}	HTTPのエラーコードが格納される
${error}	HTTPのエラー概要が表示される
${message}	エラーメッセージが表示される
 -->